<html>

    <body>
<h1>Shelter Bed App</h1>

<img src = "https://images.neimanmarcus.com/ca/2/product_assets/H/B/H/R/5/NMHBHR5_mz.jpg" alt = "Shelter with beds" width = "300">

<h2>What do we do?</h2>

<p>
    Our job is that we give homeless people across the Charlotte area open shelters <br>
    where they will have a temporary stay for a certain amount of time, so that that <br>
    they can regain their energy and find additional help. But we must determine <br>
    if they have access to a shelter they request and if it is already occupied or not.
</p>


<h2>Map of Shelter Locations</h2>
<img src = "https://www.charlottehomes4professionals.com/wp-content/uploads/2016/03/Charlotte-NC-Map1.png" alt = "see map of Charlotte" width = "500">
<a href = "Map.html" class = "active"> Home </a>


<h2>How Many Beds Are Available?</h2>
<img src = "https://images-na.ssl-images-amazon.com/images/I/71Tvs3XyjAL._AC_SL1500_.jpg" alt = "Click on the shelter picture" width = "200">
<!-- Not set up yet -->
<a href = "Beds.html" class = "active"> Look for beds </a>

<h2 id = "faq">Frequently Asked Questions (FAQs)</h2>
<h3 id = "questions">Is this accessable on mobile?</h3>
<p id = "answers">Yes, so that it will be useful for people who don't have access to a computer</p>

<h3 id = "questions">If there is no available shelter for me to sleep in a this time, what should I do?</h3>
<p id = "answers">You are going to have to wait for your turn.</p>

<h3 id = "questions">Once my time is up in the shelter, what's next?</h3>
<p id = "answers">Unfortunately, you will have to be set out so that other people can have their turn. <br> 
                But don't worry. You are welcome to come back again another time</p>

<h3 id = "questions">Am I allowed to use a shelter I already used before multiple times, or only once?</h3>
<p id = "answers">Yes, of course.</p>

<h3 id = "questions">Do new shelters open in new locations every once in a while?</h3>
<p id = "answers">It mostly depends on how the government will allow this.</p>

<h3>Our Clinets</h3>
<ul>
    <li>Justin Carasquillo</li>
    <li>Reuben Sanchez</li>
    <li>Adam Stegall</li>
    <li>Jovan Wissa</li>
</ul>

</body>
</html>