// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
    min-height: 100vh;
}

body {
    margin: 0;
    // line-height: 30px;
}

.header, .main, .footer, .gmap-canvas {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
}


.header, .footer {
    background-color: #212121;
    color: #FAFAFA;
    padding: 1em 1em;

    /* prevents padding from extending the element box */
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}


.header .header-text {
    font-size: 3.0vw;
}


.main {
    background-color: #212121;
    color: #FAFAFA;
    align-items: center;
    margin: 1.5em 0;
}

.main.red {
   background-color: #BF360C;
}

.main.green {
    background-color: #43A047;
}

.footer {
    align-items: flex-start;
    flex-direction: column;
    
    
}


.bed-logo {
    width: 15%;
}

.indicate-icon {
    width: 10%;
}

.bedfont {
    font-size: 4.0vw;
}

.bedfont.phone {
    margin-block-start: 0;
}

.footer-header {
    font-size: 2.5vw;
    margin: 0.5em;
}

a.footer-header.login {
    text-decoration: underline;
    color: #FAFAFA;
    font-size: 1vw;
    align-self: center;
}

.gmap-canvas {
    height: 20em;
    margin-bottom: 1.5em;
}

.footer-header.phone a, .bedfont.phone a{
    text-decoration: underline;
    color: #FAFAFA;
}

@media only screen and (min-width: 700px) {
    .header, .main, .footer, .gmap-canvas {
    width: 80%;
    margin: 0 auto;
    }

    .main {
        margin: 1.5em auto;
        
    }

    .gmap-canvas {
        height: 30em;
        margin-bottom: 1.5em;
    }

}