// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
title {
    font-size: 64px;
    color: green;
    font-family: "Arial Black", Gadget, sans-serif;
    text-align: center;
}
h1 {
    font-size: 32px;
    color: blue;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    font-style: italic;
    background-color: #F0F8FF;
}
h2 {
    font-size: 24px;
    color: #00FFFF;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: #00008B;
}
h3 {
    font-size: 16px;
    color: #9400D3;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#faq{
    background-color: #F0E68C;
    color: #808080;
}
#questions {
    background-color: #DC143C;
    color: #FFB6C1;
}
#answers {
    background-color: #9ACD32;
    color: black;
}
body {
    background: #FFD700;
}
p {
    font-size: 12px;
    font-family: "Times New Roman", serif;
    color: black;
}
